html {height: 100%;}
body {
  transition: background 0.5s;
  font-family: 'Century Gothic';
  position: absolute;
  width: 100%;
  overflow: hidden;
  bottom: 0;
  top: 0;
}
.light-theme {
  background: url("../img/bg/light.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.dark-theme {
  background: url("../img/bg/dark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
}
.light-theme .countdown {
  border: 1px solid #FFF;
  color: #000;
}
.dark-theme .countdown {
  border: 1px solid #FFF;
  color: #FFF;
}
